<h2 style="text-align: center"; >Edit Profile</h2>
<form method="post" action="/editform">
    <input type="text" placeholder="" name="uname" autocomplete="off" value="{{uname}}"></input></br></br>
    <input type="password" placeholder="" name="pass" autocomplete="off" value="{{pass}}"></input></br></br>
    <input type="file" name="picture" autocomplete="off" value="{{picture}}"/></br></br>
    
     <button type="submit">Submit</button>
</form>