{{>header}}


<h3>{{message}}</h3>
<form method="post" action="/submitlogin">
    <input type="email" name="email" placeholder="Enter email"></input></br></br>
    <input type="password" name="pass" placeholder="Enter password"></input></br></br>
    <button>Login</button></br></br>
    <h3>Not registerd yet? <a href="/register">Sign Up</a> first</h3>
</form>